{{ define "content" }}

<div class="keyword-container">
  <h2>Upload CSV</h2>
  
  {{ include "partials/flashes" }}
  
  <form class="keyword-upload-form space-y-6" action="/keyword" enctype="multipart/form-data" method="POST">
    <input name="file" type="file" required accept=".csv">
  
    <button type="submit">
      Upload
    </button>
  </form>

  {{ if .data.keywords }}
    <div class="mt-8 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th scope="col">Keyword</th>
                <th scope="col">Uploaded date</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            
            <tbody>
              {{ range $k := .data.keywords }}
                <tr>
                  <td><strong>{{ $k.Keyword }}</strong></td>
                  <td>{{ $k.FormattedCreatedAt }}</td>
                  <td></td>
                  <td></td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {{ end }}
</div>


{{ end }}
