<!DOCTYPE html>

<html>
  <head>
    <link type="text/css" rel="stylesheet" href="dist/index.css" />
    <title>{{ .title }}</title>
  </head>

  <body>
    <main class="vh-100 p-3">
      <div class="main__content d-flex flex-column align-items-center">
        <h1 class="text-secondary mt-5">Register</h1>

        <form ction="/register" method="POST">
          <div>{{ .error }}</div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" required=true/>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" required=true/>
          </div>

          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirm-password" required=true/>
          </div>

          <div class="actions">
            <input type="submit" class="btn btn-dark" value="Register">
          </div>

          <div class="small mt-3">
            Already have an account? <a href="#">Login</a>
          </div>
        </form>
      </div>
    </main>

    <script src="dist/index.js"></script>
  </body>
</html>
