<!DOCTYPE html>

<html>
  <head>
    <link type="text/css" rel="stylesheet" href="dist/stylesheets/index.css" />
    <title>{{ .title }}</title>
  </head>

  <body>
    <main class="auth-main">
      <div class="auth-main__content">
        <img class="auth-main__image" src="dist/images/google-go.jpg" alt="Workflow">
        <h2 class="auth-main__title">
          Register a new account
        </h2>
        
        {{ if .error }}
          <div class="alert-danger">
            {{ .error }}
          </div>
        {{ end }}

        <form class="mt-8 space-y-6" action="/register" method="POST">
          <input name="email" type="email" required placeholder="Email address">
          <input name="password" type="password" required placeholder="Password">
          <input name="confirm-password" type="password" required placeholder="Confirm Password">
  
          <button type="submit">
            Register
          </button>
        </form>
        
        <div class="auth-main__content--small">
          Already have an account?
          <a href="https://google.com">Login</a>
        </div>
      </div>
    </main>

    <script src="dist/javascripts/index.js"></script>
  </body>
</html>
